.navbarContainer {
  display: flex;
  flex-direction: row;
  background: whitesmoke;
  align-items: center;
  height: 10vh;
  width: 100vw;
  position: fixed;
}

.navbarLogoContainer {
  display: flex;
  align-self: flex-start;
  flex: 1;
  align-items: center;
  justify-content: center;
  max-width: 20vw;
  max-height: 10vh;
}

.navbarLogo {
  max-width: 23vw;
}

@media (max-width: 728px) {
  .navbarLogo {
    max-width: 72vw;
  }
}

.navbarItemContainer {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex: 1;
  height: 100%;
}

.navbarItem {
  display: flex;
  width: 150px;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: none;
}

.navbarLink {
  text-decoration: none;
  font-family: "Segoe UI", Arial, sans-serif;
  letter-spacing: 1px;
  font-size: large;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-link-new {
  position: relative;
  color: #64605b;
  text-decoration: none;
}

.nav-link-new:focus,
.nav-link-new:hover {
  color: #0a0909;
  /* color: #64605b; */
  text-decoration: none;
}

.nav-link-new:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -8px;
  left: 0;
  background-color: #901b1c;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-link-new:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#basic-navbar-nav > div > div > a:focus,
#basic-navbar-nav > div > div > a:hover {
  color: #0a0909;
}
#basic-navbar-nav > div > div > a {
  color: #64605b;
}
