.navbar {
  transition: all 500ms ease;
  background-color: transparent;
}
.scroll {
  /* background-color: #f8f9fa !important; */
  background-color: #fff !important;
  border-radius: 2px;
  box-shadow: 0px 1px 10px #999;
}
.dropdown-scroll {
  background-color: #f8f9fa !important;
}

.navbarLogo {
  max-width: 270px;
  min-width: 200px;
  max-height: 60px;
}

.box-links {
  flex: 1;
  display: flex;
  justify-content: center;
}

.box-logo {
  flex: 1;
  display: flex;
  justify-content: center;
}

.box-hamburger {
  flex: 1;
  display: flex;
  justify-content: center;
}
.accordion {
  width: 100%;
}
.accordion-collapse {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.accordion-collapse-item {
  padding-left: 0;
  background-color: #f0f0f0;
  width: 100%;
  color: #0a0909;
  padding-top: 2px;
  padding-bottom: 2px;
}
.accordion-collapse-item:focus,
.accordion-collapse-item:hover {
  background-color: #c8c8c8;
  text-decoration: none;
  color: #0a0909;
}
.accordion-collapse-header {
  color: #64605b;
  padding: 8px;
  padding-left: 0;
}

@media all and (max-width: 991px) {
  #header {
    flex-wrap: wrap;
  }
  .box-links {
    order: 3;
    flex: none;
    width: 100%;
  }
  .box-logo {
    order: 1;
    flex: none;
    width: 80%;
    justify-content: flex-start;
  }
  .box-hamburger {
    order: 2;
    flex: none;
    width: 20%;
  }
  /* #basic-navbar-nav > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #basic-navbar-nav > div > a {
    flex: 1;
  } */
}

#basic-navbar-nav {
  margin-right: auto;
}

#basic-navbar-nav > div {
  align-items: flex-end;
}

#basic-navbar-nav > div > a {
  position: relative;
  color: #64605b;
  text-decoration: none;
  text-align: center;
}

#basic-navbar-nav > div > a:focus,
#basic-navbar-nav > div > a:hover {
  color: #0a0909;
  text-decoration: none;
}

#basic-navbar-nav > div > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0px;
  left: 0;
  background-color: #901b1c;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#basic-navbar-nav > div > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#dropdown-toggle:focus,
#dropdown-toggle:hover {
  color: #0a0909;
}

@media (min-width: 991px) {
  .dropdown:hover > .dropdown-menu {
    display: block;
    margin: 0;
  }
}

#dropdown-toggle {
  color: #64605b;
  background-color: transparent;
  outline-color: transparent;
  outline: 0;
  border: 0;
  padding: 9px;
  box-shadow: none;
}
#dropdown-toggle::after {
  display: none;
}
#dropdown-toggle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0px;
  left: 0;
  background-color: #901b1c;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#dropdown-toggle:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#groups-nav-dropdown > div {
  border: 0;
  padding: 0;
  transition: all 500ms ease;
  padding-bottom: 0;
  border-radius: 2px;
  box-shadow: 0px 1px 10px #999;
}
#groups-nav-dropdown > div > a {
  color: #64605b;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
}
#groups-nav-dropdown > div > a:hover {
  color: #0a0909;
  background-color: #eee;
}
#groups-nav-dropdown > div > a:active {
  color: #0a0909;
  background-color: transparent;
}

#toggler-hamburger {
  margin-left: auto;
  border: none;
  outline-color: transparent;
  padding: 10px;
}
.navbar-toggler .icon-bar {
  position: relative;
  background-color: #888;
  display: block;
  width: 23px;
  height: 3px;
  border-radius: 1px;
  margin: 4px;
}
.navbar-toggler span.icon-bar {
  transition: all 0.4s;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transform: rotate(0);
}
.navbar-toggler span:nth-child(2) {
  opacity: 1;
}

.navbar-toggler.collapsed span:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
}
.navbar-toggler.collapsed span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
}
.navbar-toggler.collapsed span:nth-child(2) {
  opacity: 0;
  transform: translateX(-23px);
}

@media (min-width: 991px) {
  #basic-navbar-nav > div {
    font-size: 1.2vw;
  }
  #dropdown-toggle {
    font-size: 1.2vw;
  }
  #groups-nav-dropdown > div > a {
    font-size: 0.8vw;
  }
}

@media (max-width: 991px) {
  #basic-navbar-nav > div {
    align-items: flex-start;
  }
  #basic-navbar-nav > div > a {
    text-align: center;
  }
  #basic-navbar-nav > div > a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0px;
    left: 0;
    background-color: #901b1c;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  #basic-navbar-nav > div > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  #groups-nav-dropdown > a {
    text-align: center;
  }
  #groups-nav-dropdown > a::before {
    display: none;
    -webkit-transition: 0;
    transition: 0;
  }
  #dropdown-toggle {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  #dropdown-toggle::before {
    display: none;
    -webkit-transition: 0;
    transition: 0;
  }
}
